*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: aqua;
    height: 10vh;
    display: flex;
}
main{
    background-color: blue;
    height: 20vh;
}
footer{
    background-color: yellowgreen;
    height: 15vh;
}
section{
    background-color: chocolate;
    
}
main{
    background-color: coral;
    height: 20vh;
    border-radius: 1px;

}